<launch>
<!-- from realsense_ros -->
  <arg name="offline" default="false"/>
  <arg name="pos_lim" default="10"/>
  <arg name="z_offset" default="0"/>
  <arg name="max_distance" default="3000"/>
  <arg name="min_distance" default="100"/>
  <arg name="camera1" default="d400"/>
  <arg name="camera2" default="t265"/>
  <arg name="serial_no1" default="814412072184"/>
  <arg name="serial_no2" default="852212110088"/>

  <include unless="$(arg offline)" 
    file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="align_depth" value="true"/>
    <arg name="linear_accel_cov" value="1.0"/>
    <arg name="unite_imu_method" value="linear_interpolation"/>
    <arg name="filters" value="pointcloud"/>
    <arg name="camera" value="$(arg camera1)"/>
    <arg name="serial_no" value="$(arg serial_no1)"/>
  </include>

  <include file="$(find realsense2_camera)/launch/rs_t265.launch">
    <arg name="camera" value="$(arg camera2)"/>
    <arg name="serial_no" value="$(arg serial_no2)"/>
  </include>

  <node pkg="tf2_ros" type="static_transform_publisher" name="t265_to_d400" args="-0.0042 0.0084 -0.02675 0 0 0 $(arg camera2)_link $(arg camera1)_link" />

  <node pkg="rgbdp_video" name="depth_converter" type="depth_converter.py" output="screen">
    <param name="pos_lim" value="$(arg pos_lim)"/> 
    <param name="z_offset" value="$(arg z_offset)"/> 
    <param name="max_distance" value="$(arg max_distance)"/> 
    <param name="min_distance" value="$(arg min_distance)"/> 
    <param name="base_frame" value="$(arg camera2)_odom_frame"/> 
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rgbdp_video)/launch/config/rgbdp_video_t265.rviz" required="true" />
</launch>
